<!DOCTYPE html>
<html lang="en">

<head>
    <nav>
        <% if (user) { %>
            <a href="/logout">LOG OUT</a>
            <% } else { %>
                <a href="/auth/google" class="login">LOG IN&nbsp;</a>
                <% } %>
    </nav>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/asteroids">Go to Asteroids</a>
    <a href="/asteroids/add-asteroid">Add Asteroid</a>