<%- include ('./partials/header') %>



<h1 style="margin-left: 1.8em; margin-top: 2.5em; font-size: 75px; color:aliceblue">Asteroid Finder</h1>

<div class="container">
    <h2 class="object" data-value="3"></h2>





<%- include ('./partials/footer') %>