<%- include ('./partials/header') %>



<h1 style="margin-left: 2.7em; margin-top: 3.2em; font-size: 75px; color:aliceblue; text-shadow: 1px 1px white, -1px -1px #444;"><b>Asteroid Finder</b></h1>

<div class="container">
    <h2 class="object" data-value="3"></h2>





<%- include ('./partials/footer') %>